*{
    margin: 0;
    padding: 0;
    
}

.main{
    width: 1440px;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
    justify-content: center;
    align-items: center; 
}
.h3{
    width: 644px;
    height: 45px;
    font-family: 'Delius Unicase';
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: 0.05em;
    color: #000000;
    margin: 120px auto 80px;
    text-align: center;
}
.section-a {
    display: grid;
    grid-template-columns: 370px 370px 370px;
    grid-template-rows: 370px 370px 370px;
    grid-gap: 30px;
}

.section-a > div, .section-b > img, .section-c > img {
    border-radius: 15px;
    opacity: 75%;
}
.section-a > div:hover{
    opacity: 99%;
}
.section-b > img:hover{
    opacity: 99%;
}

 .section-c > img:hover{
   opacity: 99%;
}

.section-a-a{
    
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}

.section-a-b{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 4;
}
.section-a-c {
    
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}


.section-a-d{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
   
}

.section-a-i{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
}
.section-a-f{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 4;
}

.section-b {
    display: grid;
    grid-template-columns: 370px 370px 370px;
    grid-template-rows: 370px 370px 370px 370px;
    grid-gap: 30px;
    
}
.section-b-a{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}

.section-b-b{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 4;
}

.section-b-c{
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
}
.section-b-d{
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
}

.section-b-i {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3;
}

.section-b-f{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 4;
}

.section-c {
    display: grid;
    grid-template-columns: 370px 370px 370px;
    grid-template-rows: 370px 370px 370px 370px 370px;
    grid-gap: 30px;

}

.section-c-a{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}
.section-c-b{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}
.section-c-c{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4; 
}
.section-c-d{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2; 
}

.section-c-i{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4; 
}
.section-c-f{
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2; 
}
.section-c-g{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3; 
}
.section-c-k{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3; 
}

.section-c-l{
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 3; 
}
.section-c-m{
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 3;
    grid-column-end: 4;  
}


.phooto-a, .phooto-b, .phooto-c, .phooto-d, .phooto-i, .phooto-f {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: white;
    border-radius: 25px;
    height: 370px;
}
.phooto-a {
     background-image: url(./photo/image-1.png);
     width: 370px;
  
}
.phooto-b {
  
    background-image: url(./photo/image\ \(3\).png);
    width: 770px;
    
}

.phooto-c {
   
    background-image: url(./photo/image\ \(4\).png);
    width: 770px;
  
}
.phooto-d {
  
    background-image: url(./photo/image-1\ \(1\).png);
    width: 370px;
   
    
}
.phooto-i{
    background-image: url(./photo/image-1\ \(2\).png);
    width: 370px;
    
}
.phooto-f{
    background-image: url(./photo/image\ \(5\).png);
    width: 770px;
}

h5{
    padding-left: 30px;
    padding-bottom: 15px;
    margin-right: 10px;
    height: 23px;
    font-family: 'Roboto';
    font-size: 20px;
    line-height: 23px;
}

h6{
    width: 149px;
    height: 23px;
    font-family: 'Roboto';
    font-size: 20px;
    line-height: 23px;
    padding-bottom: 15px;
}