*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
}

.wrapper {
  max-width: 1440px;
  overflow: hidden;
  margin: 0 auto;
}

.container {
  max-width: 1170px;
  margin: 0px auto;
  box-sizing: content-box;
}

.case {
  margin: 18px 0px 38px 0px;
  font-family: "Lato";
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.5em;
  color: #000000;
}
@media (max-width: 768px) {
  .case {
    margin: 18px 0px 68px 0px;
  }
}
@media (max-width: 320px) {
  .case {
    margin: 18px 0px 18px 0px;
  }
}

.main1__h1 {
  margin-bottom: 70px;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.05em;
  color: #000000;
}
@media (max-width: 768px) {
  .main1__h1 {
    margin-bottom: 50px;
    font-size: 33px;
  }
}
@media (max-width: 320px) {
  .main1__h1 {
    margin-bottom: 40px;
    font-size: 30px;
  }
}

.main1__subtitle--h2 {
  margin-top: 90px;
  margin-bottom: 50px;
  font-family: "Red Hat Display";
  font-weight: 600;
  font-size: 28px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000000;
}
@media (max-width: 320px) {
  .main1__subtitle--h2 {
    margin-top: 70px;
    margin-bottom: 40px;
    font-size: 26px;
  }
}

.main1__text {
  width: 570px;
  margin-bottom: 90px;
  font-family: "Lato";
  font-weight: 400;
  font-size: 19px;
  line-height: 168.42%;
  letter-spacing: 0.05em;
  color: #565656;
}
@media (max-width: 768px) {
  .main1__text {
    width: 700px;
    margin-bottom: 70px;
  }
}
@media (max-width: 320px) {
  .main1__text {
    width: 300px;
    margin-bottom: 70px;
    font-size: 16px;
  }
}
.main1__text p {
  margin-bottom: 40px;
}

.main2__text {
  margin-top: 20px;
  font-family: "Lato";
  font-weight: 400;
  font-size: 19px;
  line-height: 168.42%;
  letter-spacing: 0.05em;
  color: #565656;
}
@media (max-width: 320px) {
  .main2__text {
    font-size: 16px;
  }
}
.main2__text p {
  margin-bottom: 40px;
}

.fotter {
  background: #F4F4F4;
}

.fotter__body {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .fotter__body {
    display: block;
  }
}
.fotter__body--left {
  width: 45%;
}

@media (max-width: 768px) {
  .fotter__body--left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
.fotter__body--left h2 {
  margin: 70px 0px 30px 0px;
  font-family: "Red Hat Display";
  font-weight: 400;
  font-size: 48px;
  line-height: 133.3333333333%;
  letter-spacing: 0.05em;
  color: #000000;
}

@media (max-width: 768px) {
  .fotter__body--left h2 {
    font-size: 32px;
  }
}
.fotter__body--left span {
  display: block;
  margin-bottom: 15px;
  font-family: "Lato";
  font-weight: 400;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000000;
}

.fotter__body--right {
  margin-top: 125px;
}

@media (max-width: 768px) {
  .fotter__body--right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 46px;
    margin-bottom: 40px;
  }
}
.link-icon:not(:last-child) {
  margin: 0px 25px 0px 0px;
}

.svg-icon {
  width: 50px;
  height: 50px;
  fill: #565656;
}

.svg-icon:hover path {
  fill: white;
}

.fotter__manifest {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (max-width: 768px) {
  .fotter__manifest {
    padding: 0% 20% 0% 20%;
  }
}
.fotter__manifest h6 {
  padding-bottom: 30px;
  font-family: "Lato";
  font-weight: 400;
  font-size: 12px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000000;
}/*# sourceMappingURL=style.css.map */